DATA MINING
MUSAIB MAQBOOL WANI 22BIT038

In [ ]:
import pandas as pd
df = pd.read_csv("nba.csv")
df[:10]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [ ]:
import pandas as pd

df = pd.read_csv("nba.csv")

# Select only numeric columns
df_numeric = df.select_dtypes(include=[float, int])

# Check if there are any numeric columns to avoid empty DataFrame issues
if df_numeric.empty:
    print("No numeric columns available for correlation calculation.")
else:
    pearson_corr = df_numeric.corr(method='pearson')
    print("Pearson Correlation Matrix:")
    print(pearson_corr)

    kendall_corr = df_numeric.corr(method='kendall')
    print("Kendall Correlation Matrix:")
    print(kendall_corr)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0
Pearson Correlation Matrix:
          Number       Age    Weight    Salary
Number  1.000000  0.028724  0.206921 -0.112386
Age     0.028724  1.000000  0.087183  0.213459
Weight  0.206921  0.087183  1.000000  0.138321
Salary -0.112386  0.213459  0.138321  1.000000
Kendall Correlation Matrix:
          Number       Age    Weight    Salary
Number  1.000000  0.005536  0.155850 -0.075301
Age     0.005536  1.000000  0.066130  0.172616
Weight  0.155850  0.066130  1.000000  0.087165
Salary -0.075301  0.172616  0.087165  1.000000

In [ ]:
import pandas as pd
df = pd.read_csv("nba.csv")
print(df.describe())
print(df.head(10))

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [11]:
import pandas as pd
d1 = pd.read_csv("Diabetes1.csv")
print(d1.describe())
print(d1.head(10))

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  763.000000    733.000000  541.000000     394.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.535641     12.382158   10.476982     118.775855
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.000000     64.000000   22.000000      76.250000
50%      3.000000  117.000000     72.000000   29.000000     125.000000
75%      6.000000  141.000000     80.000000   36.000000     190.000000
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000
   Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0         6    148.0          72.0       35.0            NaN  33.6
1         1     85.0          66.0       29.0            NaN  26.6
2         8    183.0          64.0        NaN            NaN  23.3
3         1     89.0          66.0       23.0           94.0  28.1
4         0    137.0          40.0       35.0          168.0  43.1
5         5    116.0          74.0        NaN            NaN  25.6
6         3     78.0          50.0       32.0           88.0  31.0
7        10    115.0           NaN        NaN            NaN  35.3
8         2    197.0          70.0       45.0          543.0  30.5
9         8    125.0          96.0        NaN            NaN   NaN

   Diabetes_Pedigree  Age  Class
0              0.627   50      1
1              0.351   31      0
2              0.672   32      1
3              0.167   21      0
4              2.288   33      1
5              0.201   30      0
6              0.248   26      1
7              0.134   29      0
8              0.158   53      1
9              0.232   54      1

In [14]:
import pandas as pd
d1 = pd.read_csv("Diabetes1.csv")
print(d1.isnull())

     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin    BMI  \
0       False    False         False      False           True  False
1       False    False         False      False           True  False
2       False    False         False       True           True  False
3       False    False         False      False          False  False
4       False    False         False      False          False  False
..        ...      ...           ...        ...            ...    ...
763     False    False         False      False          False  False
764     False    False         False      False           True  False
765     False    False         False      False          False  False
766     False    False         False       True           True  False
767     False    False         False      False           True  False

     Diabetes_Pedigree    Age  Class
0                False  False  False
1                False  False  False
2                False  False  False
3                False  False  False
4                False  False  False
..                 ...    ...    ...
763              False  False  False
764              False  False  False
765              False  False  False
766              False  False  False
767              False  False  False

[768 rows x 9 columns]

In [20]:
# a. Delete missing entries
import pandas as pd
d1 = pd.read_csv("Diabetes1.csv")
df_no_missing = d1.dropna()
print("\nDataFrame after deleting missing entries:")
print(df_no_missing)

DataFrame after deleting missing entries:
     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
6           3     78.0          50.0       32.0           88.0  31.0
8           2    197.0          70.0       45.0          543.0  30.5
13          1    189.0          60.0       23.0          846.0  30.1
..        ...      ...           ...        ...            ...   ...
753         0    181.0          88.0       44.0          510.0  43.3
755         1    128.0          88.0       39.0          110.0  36.5
760         2     88.0          58.0       26.0           16.0  28.4
763        10    101.0          76.0       48.0          180.0  32.9
765         5    121.0          72.0       23.0          112.0  26.2

     Diabetes_Pedigree  Age  Class
3                0.167   21      0
4                2.288   33      1
6                0.248   26      1
8                0.158   53      1
13               0.398   59      1
..                 ...  ...    ...
753              0.222   26      1
755              1.057   37      1
760              0.766   22      0
763              0.171   63      0
765              0.245   30      0

[392 rows x 9 columns]

In [21]:
# b. Fill missing values with 0
df_fill_zero = d1.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_fill_zero)

DataFrame after filling missing values with 0:
     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            0.0  33.6
1           1     85.0          66.0       29.0            0.0  26.6
2           8    183.0          64.0        0.0            0.0  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            0.0  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        0.0            0.0  30.1
767         1     93.0          70.0       31.0            0.0  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [22]:
df_fill_mean = d1.fillna(d1.mean())
print("\nDataFrame after filling missing values with mean:")
print(df_fill_mean)

DataFrame after filling missing values with mean:
     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0   35.00000     155.548223  33.6
1           1     85.0          66.0   29.00000     155.548223  26.6
2           8    183.0          64.0   29.15342     155.548223  23.3
3           1     89.0          66.0   23.00000      94.000000  28.1
4           0    137.0          40.0   35.00000     168.000000  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0   48.00000     180.000000  32.9
764         2    122.0          70.0   27.00000     155.548223  36.8
765         5    121.0          72.0   23.00000     112.000000  26.2
766         1    126.0          60.0   29.15342     155.548223  30.1
767         1     93.0          70.0   31.00000     155.548223  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [23]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler
from sklearn.preprocessing import KBinsDiscretizer
min_max_scaler = MinMaxScaler()
df_normalized_minmax = d1.copy()
df_normalized_minmax[d1.columns] = min_max_scaler.fit_transform(d1[d1.columns])
print("\nDataFrame after MinMax normalization:")
print(df_normalized_minmax.head())

DataFrame after MinMax normalization:
   Pregnant   Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin       BMI  \
0  0.352941  0.670968      0.489796   0.304348            NaN  0.314928
1  0.058824  0.264516      0.428571   0.239130            NaN  0.171779
2  0.470588  0.896774      0.408163        NaN            NaN  0.104294
3  0.058824  0.290323      0.428571   0.173913       0.096154  0.202454
4  0.000000  0.600000      0.163265   0.304348       0.185096  0.509202

   Diabetes_Pedigree       Age  Class
0           0.234415  0.483333    1.0
1           0.116567  0.166667    0.0
2           0.253629  0.183333    1.0
3           0.038002  0.000000    0.0
4           0.943638  0.200000    1.0

In [24]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler
from sklearn.preprocessing import KBinsDiscretizer
max_abs_scaler = MaxAbsScaler()
df_normalized_maxabs = d1.copy()
df_normalized_maxabs[d1.columns] = max_abs_scaler.fit_transform(d1[d1.columns])
print("\nDataFrame after MaxAbs normalization:")
print(df_normalized_maxabs.head())

DataFrame after MaxAbs normalization:
   Pregnant   Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin       BMI  \
0  0.352941  0.743719      0.590164   0.353535            NaN  0.500745
1  0.058824  0.427136      0.540984   0.292929            NaN  0.396423
2  0.470588  0.919598      0.524590        NaN            NaN  0.347243
3  0.058824  0.447236      0.540984   0.232323       0.111111  0.418778
4  0.000000  0.688442      0.327869   0.353535       0.198582  0.642325

   Diabetes_Pedigree       Age  Class
0           0.259091  0.617284    1.0
1           0.145041  0.382716    0.0
2           0.277686  0.395062    1.0
3           0.069008  0.259259    0.0
4           0.945455  0.407407    1.0

In [25]:
# b. Discretization (binning)
# Example: Binning a column ('Age' in this case)
if 'Age' in d1.columns:
    discretizer = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='uniform')
    df_binned = d1.copy()
    df_binned['Age_binned'] = discretizer.fit_transform(d1[['Age']])
    print("\nDataFrame after discretizing 'Age':")
    print(df_binned.head())
else:
    print("\n'Age' column not found for discretization.")

DataFrame after discretizing 'Age':
   Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0         6    148.0          72.0       35.0            NaN  33.6
1         1     85.0          66.0       29.0            NaN  26.6
2         8    183.0          64.0        NaN            NaN  23.3
3         1     89.0          66.0       23.0           94.0  28.1
4         0    137.0          40.0       35.0          168.0  43.1

   Diabetes_Pedigree  Age  Class  Age_binned
0              0.627   50      1         2.0
1              0.351   31      0         0.0
2              0.672   32      1         0.0
3              0.167   21      0         0.0
4              2.288   33      1         1.0

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(